body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.pt10 {
    padding-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.bold {
    font-weight:bold;
}

.empty_space { padding: 10px 0; }
.naver_id_login{ height:33px; padding-left:32px; border:1px solid #0EA400; background:#1EC800 url(/public/images/m_btn_naver01.png) no-repeat; color:#FFF; cursor:pointer }
.naver_id_login span{ display:inline-block; width:201px; margin-top:5px; text-align:center; letter-spacing:-1px }
